.stack-pane{
    -fx-background-color: #38383e;
}
.pane{
    -fx-background-color: #38383e;
}
.v-box-left{
    -fx-background-color: #28272f;
}

.scroll-pane {
    -fx-background-color: #38383e;
}
.single-termin{
    -fx-background-color: #38383e;
    -fx-border-radius: 5;
    -fx-border-insets: 0;
}
.noteInput{
    -fx-background-color: #28272f;
    -fx-border-color: #f42d76;
    -fx-border-radius: 5px;
    -fx-text-fill:white;
}


.button
{
-fx-background-color : #28272f;
-fx-text-fill : #e7e5e5;
}

.button:hover,.button:pressed
{
    -fx-background-color: transparent;
    -fx-border-color: #f42d76;
    -fx-border-radius: 5px;

}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f42d76;
    -fx-background-radius: 4em;
}

.scroll-pane > .corner {
    -fx-background-color: #38383e;
}
